body {
    margin-left: 10px;
  
}


/* HEADER */

.boutonretour {
    color: black;
    position: absolute; 
    margin-left: 10px;
    font-size: 1.3rem;
    width: 5%;
}
.boutonretour :hover {
    color: blueviolet;
}

.logo {
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    
}
.logo img {
    width: 100%;
    max-width: 200px  
}


/* SUBHEAD */

.subheadimg {
    width: 100vw;   
    margin-top: 15px;
    margin-left: -10px;  
}

.subheadimg img {
    object-fit: cover;
    width: 100%;
    height: 250px 
}

/* MENU */

.menu {
    position: absolute;
    background-color: #f6f6f6;
    padding-top: 20px;  
    border-radius: 30px;
    margin-top: -30px;
    margin-left: -10px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 1310px;
    width: 100%;
}

.titre h1 { 
    font-family:   'Shrikhand' , sans-serif;
    font-weight: lighter;   
    margin-left: 20px;
}

/* REPAS */

.repas h2 , h3 , h4  { 
    font-family: 'Roboto' , sans-serif;
    font-weight: lighter;
    font-size: 1rem;
margin-left: 20px;
margin-bottom: 0px;
border-style: solid;
border-width: 3px;
border-top: none;
border-right: none;
border-left: none;
width: 40px;
padding-bottom: 10px;
border-color: #99E2D0;
}

.repas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.coeur {
    position: absolute;
    width: 35px;
    height: 35px;
    margin-left: 80%;
    margin-top: -54px;
}

.like :hover {
    opacity: 1;
}

.like i {
    position: absolute;
    opacity: 0;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(#9356dc, #ff79da);
    transition: all 350ms ease-in-out;
}

.nolike i {
    position: absolute;
}

/* BOUTON MENU */

.boutonmenu {
background-color: white;
font-family: 'Roboto',
sans-serif;
width: 90%;
height: 70px;
margin-left: 20px;
border-radius: 15px;
box-shadow: 0 5px 10px -2px #afafaf;
cursor: pointer;
animation: animmenu 1s ease-in 1 forwards;
opacity: 0;
}

.boutonmenu p {
    margin-left: 10px;
}

.nom {
    font-weight: bold; 
    width: 90%;   
    transition: all 0.5s ease;
}

.nom p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
}

.ingredient {
    margin-top: -10px;
    font-size: 0.8rem;
    width: 82%;
    transition: all 0.5s ease;
}

.ingredient p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
}


.prix {
    font-weight: bold;
    margin-left: 84%;
    margin-top: -31px;
    transition: all 0.5s ease;
}

.boutonmenu:hover i  {
    display: flex;
    font-size: 25px;
    margin-top: 20px;
    color: white;
    animation: rotationcheck 0.5s both;
    transform-origin: center 13px;
}

.checkmark i {
    display: none;
}

.checkmark {
    position: absolute;
    background: #99E2D0;
    border-radius: 0 15px 15px 0;
    margin-top: -76px;
    right: 0px;   
    height: 70px;
    width: 0px;
    transition: all 0.5s ease;
}

.boutonmenu:hover .checkmark {
    display: flex;
    animation: slide 0.5s ease;
    transform-origin: 45px;
    padding: 0 13px;
    width: 25px;
}

.boutonmenu:hover .prix {
    margin-left: 65%;
    transition: 0.5s ease;
}

.boutonmenu:hover .ingredient{
    width: 60%;
    transition: 0.5s ease;
}

.boutonmenu:hover .nom {
    width: 70%;
    transition: 0.5s ease;
}




/* animation boutonmenu */

.repas :nth-child(3) {
    animation-delay: 0.2s;
}

.repas :nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes animmenu {
from {
    opacity: 0;
    transform: translateY(-10%);
}

to {
    opacity: 1;
}
}

@keyframes rotationcheck {
    from {
        
        transform: rotate(-360deg);
    }  
}

@keyframes slide {
    from {    
        transform: scaleX(0);
    }

}




/* BOUTON COMMANDER */

.boutoncommande button { 
    margin-top: 30px;
    cursor: pointer;
    color: white;
    background: linear-gradient(180deg, #ff79da, #9356dc);
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 90%;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 5px 10px -2px #afafaf;
}

.boutoncommande {
    margin: auto;
    text-align: center;
    width: 60%;
}

.boutoncommande :hover {
    background: linear-gradient(180deg, #fd95e0, #996bd1);
    box-shadow: 0 5px 10px -2px grey;
}




/* footer */

footer {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #353535;
    font-family: "Roboto",
        sans-serif;
    color: white;
    width: 100vw;
    margin-left: -10px;
    margin-top: 1300px;
    padding-bottom: 20px;
    margin-bottom: -10px;   
}

footer h5 {
    font-family: "Shrikhand", sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    font-weight: lighter;
}

footer p {
    margin-left: 30px;
    margin-bottom: 0px;
}

footer a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}




@media only screen and (min-width: 425px) {

   .repas h2,h3,h4 {
    margin:auto;
   }

   .boutonmenu {
       max-width: 350px;
       margin: auto;
   }

    .boutoncommande button {
        width: 100%;
        max-width: 350px; 
    }


    }