body {
  margin-left: 10px;
}

/* HEADER */
/* LOGO */
.logo img {
  width: 50%;
  max-width: 200px;
  margin-left: 25%;
  margin-top: 20px;
  padding-bottom: 10px;
}

.logo {
 box-shadow: 0 4px 2px -2px #afafaf;
  width: 100vw;
  margin-left: -10px;
}

/* LOCALISATION SEARCH*/


.location { 
  margin-left: -10px;
  margin-top: 2px;
  width: 100vw;
  background-color: #dfdfdf;
  height: 60px;
}

.search {
  background-color: transparent;
  border-color: transparent;
  display: flex;
  font-family: "Roboto",
   sans-serif;
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #555555;
}
.geoicon {
  margin-right: -20%;
  margin-top: 10px;
  color: black;
}


/* HERO */
.hero {
  margin-top: 50px;
}

.hero h3 {
  margin-left: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 1.4rem;
  width: 80%;
}

.hero h4 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

/* Bouton explo */
.boutonexplo button {
  cursor: pointer;
  color: white;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  border: none;
  border-radius: 30px;
  height: 40px;
  width:100%;
  font-family: "Roboto", sans-serif;
}
.boutonexplo {
  margin-left: 20%;
  width: 60%;
}

.boutonexplo :hover {
  background: linear-gradient(180deg, #fd95e0, #996bd1);;
}

/* Fonctionnement */
.fonctionnement {
  margin-top: 60px;
  
}

.fonctionnement h5 {
   font-family:"Roboto", sans-serif;
   font-size: 1.3rem;
}


.triplebutton  {
display: flex;
flex-direction: row;
font-family: "Roboto",
sans-serif;
font-weight: bold;
font-size: 0.8rem;
margin-left: 10px;
margin-bottom: 20px;
border-radius: 20px;
height: 35px;
width: 85%;
padding-left: 30px;
padding-top: 20px;
box-shadow: 0 5px 10px -2px #afafaf;
cursor: pointer;
}

.triple .etape {
  margin-top: -58px;
  position: absolute;
  font-family: "Roboto",
  sans-serif;
  font-size: 0.8rem;
  color: white;
  background-color: #9356DC;
  width: 14px;
  border-radius: 50%;
  border-width: 5px;
  padding-left: 6px;
  padding-top: 2px;
  height: 17px;
}

.choixrestau :hover{
  color: #9356DC;
  background-color: #efe2ff;
}
.compomenu :hover {
  color: #9356DC;
  background-color: #efe2ff;
}

.degustez  :hover {
    color: #9356DC;
    background-color: #efe2ff; 
}

.triplebutton i {
  margin-right: 30px;
}



/* Cards Restaurant */

main h6 {
  font-family: "Roboto",
  sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-bottom: 60px;
}

.cardrestau img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: white;
  border-radius: 7%;
  border-bottom-width: 60px;
  box-shadow: 0 5px 10px -2px #afafaf;
}

.cardrestau p {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  margin-left: 30px;
  font-family: "Roboto",
  sans-serif;
  width: 140px;
}

.coeur {
  position: absolute;
  width: 35px;  
  height: 35px;
  margin-left: 75%;
  margin-top: -55px;
}

.like :hover { 
  opacity: 1;
  }

.like i  {
position: absolute;
opacity: 0;
color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(#9356dc, #ff79da);
transition: all 350ms ease-in-out;
}

.nolike i {
  position: absolute; 
}


.nouveau {
  position: absolute;
  font-family: "Roboto" , sans-serif;
  font-weight: bold;
  color: #2a967b;
  margin-top: -200px;
  margin-left: 64%;
  background-color: #99E2D0;
  height: 25px;
  width: 75px;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 5%;
}



/* footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: #303030;
  font-family:"Roboto",
  sans-serif; 
  color: white;
  width: 100vw;
  margin-left: -10px;
  padding-bottom: 20px;
  margin-bottom: -10px;
}

footer h6 {
  font-family: "Shrikhand" , sans-serif;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 1.3rem;
  font-weight: lighter;
}

footer p {
  margin-left: 30px;
  margin-bottom: 0px;
}

footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}