body {
  margin-left: 10px;
}

/* HEADER */
/* LOGO */
.logo img {
  width: 70%;
  max-width: 200px;
  margin-left: 65px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.logo {
 box-shadow: 0 4px 2px -2px #afafaf;
  width: 100vw;
  margin-left: -10px;
}

/* LOCALISATION */
.location h2 {
  display: flex;
  gap: 8%;
  font-family: "Roboto", sans-serif;
  margin-left: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  color: #555555;
}

.location {
  margin-left: -10px;
  margin-top: -11px;
  width: 100vw;
  background-color: #dfdfdf;
}

/* HERO */
.hero {
  margin-top: 50px;
}

.hero h3 {
  margin-left: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 1.4rem;
  width: 80%;
}

.hero h4 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

/* Bouton explo */
.boutonexplo button {
  cursor: pointer;
  color: white;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  border: none;
  border-radius: 30px;
  height: 40px;
  width:100%;
  font-family: "Roboto", sans-serif;
}
.boutonexplo {
  margin-left: 50px;
  width: 60%;
}

.boutonexplo :hover {
  background: linear-gradient(180deg, #fd95e0, #996bd1);;
}

/* Fonctionnement */
.fonctionnement {
  margin-top: 60px;
  
}

.fonctionnement h5 {
   font-family:"Roboto", sans-serif;
   font-size: 1.3rem;
}


.triplebutton  {
display: flex;
flex-direction: row;
font-family: "Roboto",
sans-serif;
font-weight: bold;
font-size: 0.8rem;
margin-left: 10px;
margin-bottom: 20px;
border-radius: 20px;
height: 35px;
width: 80%;
padding-left: 30px;
padding-top: 20px;
box-shadow: 0 5px 10px -2px #afafaf;
cursor: pointer;
}

.triple .etape {
  margin-top: -58px;
  position: absolute;
  font-family: "Roboto",
  sans-serif;
  font-size: 0.8rem;
  color: white;
  background-color: #9356dc;
  width: 14px;
  border-radius: 50%;
  border-width: 5px;
  padding-left: 6px;
  padding-top: 2px;
  height: 17px;
}

.choixrestau :hover{
  color: purple;
  background-color: #efe2ff;
}
.compomenu :hover {
  color: purple;
  background-color: #efe2ff;
}

.degustez :hover {
    color: purple;
    background-color: #efe2ff; 
}

.triplebutton i {
  margin-right: 30px;
}



/* Cards Restaurant */

main h6 {
  font-family: "Roboto",
  sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.restaurants {
  display: flex;
  flex-direction: column;
  gap:60px;
  margin-bottom: 60px;
}
.cardrestau img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: red;
  border-radius: 7%;
  border-bottom-width: 60px;
}

.cardrestau legend {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  margin-left: 30px;
  font-family: "Roboto",
  sans-serif;
  
}


/* footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: #303030;
  font-family:"Roboto",
  sans-serif; 
  color: white;
  width: 100vw;
  margin-left: -10px;
  padding-bottom: 20px;
  margin-bottom: -10px;
}

footer h6 {
  font-family: "Shrikhand" , sans-serif;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 1.3rem;
  font-weight: lighter;
}

footer p {
  margin-left: 30px;
  margin-bottom: 0px;
}